/*      头部导航  S    */
.heads {
    width: 100%;
    height: 75px;
    background: url("../img/top_nav_bg.png") repeat-x;
}
/*.heads .bx {*/
    /*background: url("../img/top_nav_bg.png")repeat-x;*/
/*}*/
.heads .bx .logo {
    display: block;
    width: 265px;
    height: 63px;
    font-size: 0px;
    line-height: 75px;
    background:url("../img/logo.png")no-repeat 0 15px;
    background-size: 100%;
}
.heads .bx ul li {
    float: left;
    /*background-color: red;*/
}
.heads .bx ul .nav2 {
    display: block;
    width: 73px;
    height: 75px;
    font-size: 0px;
    background: url("../img/nav_btns.jpg")no-repeat;
}
.heads .bx ul .news {
    background: url("../img/nav_btns.jpg")no-repeat -75px 0;
}
.heads .bx ul .info {
    background: url("../img/nav_btns.jpg")no-repeat -151px 0;
}
.heads .bx ul .acco {
    background: url("../img/nav_btns.jpg")no-repeat -228px 0;
}
.heads .bx ul .match {
    background: url("../img/nav_btns.jpg")no-repeat -303px 0;
}
.heads .bx ul .vid {
    background: url("../img/nav_btns.jpg")no-repeat -380px 0;
}
.heads .bx ul .rai {
    background: url("../img/nav_btns.jpg")no-repeat -456px 0;
}
.heads .bx ul .load {
    background: url("../img/nav_btns.jpg")no-repeat -531px 0;
}
.heads .bx ul .soc {
    background: url("../img/nav_btns.jpg")no-repeat -607px 0;
}
.heads .bx ul .ser {
    background: url("../img/nav_btns.jpg")no-repeat -682px 0;
}
.heads .bx ul .app {
    background: url("../img/nav_btns.jpg")no-repeat -758px 0;
}






/*   导航栏样式操作 */

.heads .bx ul li div {
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 71px;
    height: 235px;
    line-height: 35px;
    /*font-size: 14px;*/
    text-align: center;
    background: url("../img/nav-bg.png")no-repeat 1px 0 ;
    display: none;
}
.heads .bx ul li div a:hover {
    color: #a00;
}
.heads .bx ul li div a{
    color: #fff;
}
.heads .bx ul li div .nav2 {
    display: block;
    font-size: 0px;
    width: 71px;
    height: 75px;
}
.heads .bx ul li div .news{
    background: url("../img/nav_btns.jpg")no-repeat -75px -78px;
}
.heads .bx ul li div .info {
    background: url("../img/nav_btns.jpg")no-repeat -151px -78px;
}
.heads .bx ul li div .acco {
    background: url("../img/nav_btns.jpg")no-repeat -228px -78px;
}
.heads .bx ul li div .match {
    background: url("../img/nav_btns.jpg")no-repeat -303px -78px;
}
.heads .bx ul li  div .vid {
    background: url("../img/nav_btns.jpg")no-repeat -379px -78px;
}
.heads .bx ul li div  .rai {
    background: url("../img/nav_btns.jpg")no-repeat -456px -78px;
}
.heads .bx ul li div .load {
    background: url("../img/nav_btns.jpg")no-repeat -530px -78px;
}
.heads .bx ul li div .soc {
    background: url("../img/nav_btns.jpg")no-repeat -607px -78px;
}
.heads .bx ul .ser:hover {
    background: url("../img/nav_btns.jpg")no-repeat -682px -78px;
}
/*      头部导航  E    */

/*       过度线 S     */
.hr-1 {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 29px;
    top: 75px;
    background: url("../img/header_bg_shadow.png")repeat-x;
}
/*       过度线 E     */

/*         主体 S     */

/* 主体背景 S */
.main {
    background-color:rgba(0,0,0,1);
    margin: 0 auto;
}
/* 主体背景 E */


.main .bx {
    width: 1600px;
    margin: 0 auto 0;
    position: relative;
}


/*   两侧图片 S */
.main .bx .body {
    width: 100% ;
}
/*   两侧图片 E */

/*   主体拼接图片 S*/
.main .bx .banner {
    position: absolute;
    top:0px;
    left: 250px;
    width: 1102px;
    height: 590px;
    background: url("../img/banner.jpg") no-repeat;
    background-size: 100%;
}


.zao {
    width: 100%;
    height: 3000px;
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    z-index: 20;
    /*display: none;*/
}
.zao .logo {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 100px;
    left: 50%;
    margin-left: -150px;
    background:url("../img/dotalogo.png") no-repeat;
    background-size:100%;
}
.zao .bx {
    position: relative;
}
.zao .bg {
    position: absolute;
    width: 670px;
    height: 1335px;
    left: 50%;
    top: 50px;
    margin-left: -345px;
    background: url("../img/bg.jpg")  no-repeat;
    background-size:101%;
}
.zao .bx .btn {
    position: absolute;
    left: 890px;
    top: 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.zao .lBtn,
.zao .rBtn {
    position:absolute;
    top: 425px;
    cursor: pointer;
}
.zao .lBtn {
    left: 50%;
    margin-left: -260px;
}
.zao .rBtn {
    left: 50%;
    margin-left: 230px;
}
.zao .iconfont {
    font-size: 35px;
}
.zao .bx .btn .iconfont {
    font-size: 50px;
    /*color: red;*/
}
body .t15 {
    position: absolute;
    z-index: 3;
    top: 300px;
    width: 411px;
    height: 250px;
    left: 50%;
    margin-left: -205px;
    overflow: hidden;
}
.zao .t15 ul {
    position:absolute;
    width: 411px;
}
.zao .t15 ul li  {
    float: left;
}
.zao .t15 ul img {
    width: 138px;
    height: 250px;
}
body .t16 {
    position: absolute;
    width: 800px;
    height: 470px;
    top: 580px;
    left: 59%;
    margin-left: -500px;
}
body .t16 img {
    margin-left: 9%;
    margin-top: 8px;
    width: 632px;
}

.zao .bx .big-2 {
    position: absolute;
    z-index: 15;
    width: 1200px;
    height: 800px;
    top: 300px;
    left: 50%;
    margin-left: -600px;
    background:url("../img/price_bg.jpg")no-repeat;
    background-size:100%;
}

.zao .bx .big-2 {
    display: none;
}
.zao .bx .big-2 img {
    height: 65%;
    margin-top: 15px;
    margin-left: 143px;
}
.zao .bx .big-2 .btn2 {
    position: absolute;
    top: -100px;
    left: 1250px;
    cursor: pointer;
}
.zao .bx .big-2 .btn2 .iconfont {
    font-size: 80px;
}



/* T15进口周边 */
.main .bx .tle {
    position: absolute;
    width: 325px;
    height: 207px;
    top: 340px;
    left: 50%;
    margin-left: -150px;
    background: url("../img/dotalogo.png") no-repeat;
    background-size: 100%;
    cursor: pointer;
}




    /*   ------- 三个套餐展现 S --------*/
.main .bx .show {
    position: absolute;
    width: 1101px;
    height: 423px;
    top: 589px;
    left: 247px;
    background: url("../img/suitbg.jpg") no-repeat;
    background-size:100%
}
.main .bx .show div {
    width: 350px;
    height: 323px;
    background:url("../img/alink.png") no-repeat;
    background-size:350px;
    margin-top: 50px;
    float: left;
}
.main .bx .show div+div{
    margin-left: 25px;
}
.main .bx .show div img {
    width: 340px;
    margin-left: 5px;
    margin-top: 5px;
}
/*   ------- 三个套餐展现 E --------*/
/*   -------   狂抢攻略 S --------*/
.main .bx .title {
    position: absolute;
    width: 1101px;
    height: 295px;
    top: 1011px;
    left: 247px;
    background: url("../img/titlebg.jpg") no-repeat;
    background-size:100%;
}
/*   -------   狂抢攻略 E --------*/



/*   -------   震撼新品 S --------*/
.main .bx .newPro {
    position: absolute;
    width: 1101px;
    height: 515px;
    top: 1304px;
    left: 247px;
    background: url("../img/newp.jpg") no-repeat;
    background-size:100%;
}
.main .bx .newPro .np {
    padding-left: 200px;
    margin-top: 50px;
}
.main .bx .newPro .t15-1 {
    position: absolute;
    /*width: 238px;*/
    left: 7px;
    top: 147px;
}
.main .bx .newPro .t15-2 {
    position: absolute;
    left: -10px;
    top: -85px;
}
.main .bx .newPro .np a img {
    height: 250px;
    margin-left: 10px;
}
.main .bx .newPro .np1 {
    position: absolute;
    left: 30px;
    top: 353px;
}
.main .bx .newPro .np1 a img{
    width: 350px;
}

/*   -------   震撼新品图标 S --------*/
.main .bx .newP-icon {
    position: absolute;
    /*z-index: 2;*/
    width: 310px;
    height: 218px;
    top: 1253px;
    left: 640px;
    background: url("../img/newp_icon.png")no-repeat;
    background-size:100%;
}
/*   ----   震撼新品图标 E -----*/
/*   -------   震撼新品 E --------*/

/*   -------   过度背景 S --------*/
.main .bx .bg-1 {
    position: absolute;
    width: 1102px;
    height: 122px;
    top: 1819px;
    left: 247px;
    background: url("../img/mb2_bg.jpg")no-repeat;
    background-size: 100%;
}
/*   -------   过度背景 E --------*/

/*   -------   性价比商品 S --------*/
.main .bx .price {
    position: absolute;
    width: 1101px;
    height: 515px;
    top: 1940px;
    left: 247px;
    background: url("../img/price_bg.jpg")no-repeat;
    background-size:100%;
}

.main .bx .price a img {
    width: 210px;
    position: absolute;
}
.main .bx .price .pri-1 img {
    width: 190px;
    left: 170px;
    top: 30px;
}
.main .bx .price .pri-2 img {
    left: 50px;
    top: 270px;
}
.main .bx .price .pri-3 img {
    left: 285px;
    top: 285px;
}
.main .bx .price .pri-4 img {
    width: 240px;
    left: 720px;
    top: 80px;
}
.main .bx .price .pri-5 img {
    width: 240px;
    left: 580px;
    top: 290px;
}
.main .bx .price .pri-6 img {
    width: 240px;
    left: 850px;
    top: 290px;
}
/*   性价比商品图标 S */
.main .bx .price .prc-title{
    position: absolute;
    left: 405px;
    top: 160px;
}
.main .bx .pri-icon {
    position: absolute;
    width: 310px;
    height: 180px;
    top: 1895px;
    left: 640px;
    background: url("../img/prive_icon.png")no-repeat;
    background-size:100%;
}
/*   性价比商品图标 E */
/*   -------   性价比商品 S --------*/


/*   过度背景 S */
.main .bx .bg-2 {
    position: absolute;
    width: 1102px;
    height: 122px;
    top: 2455px;
    left: 247px;
    background: url("../img/mb3.jpg")no-repeat;
    background-size: 100%;
}
/*   过度背景 S */

/*   暖冬衣服套餐 S */
.main .bx .apparel {
    position: absolute;
    width: 1101px;
    height: 515px;
    top: 2576px;
    left: 247px;
    background: url("../img/winter_bg.jpg")no-repeat;
    background-size:100%;
}
.main .bx .apparel a img {
    position: absolute;
    top: 500px;
    left: 500px;
}
.main .bx .apparel .wn1 img {
    width: 280px;
    left: 25px;
    top: 30px;
}
.main .bx .apparel .wn2 img {
    width: 170px;
    left: 340px;
    top: 25px;
}
.main .bx .apparel .wn3 img {
    width: 220px;
    left: 523px;
    top: 130px;
}
.main .bx .apparel .wn4 img {
    width: 165px;
    left: 740px;
    top: 160px;
}
.main .bx .apparel .wn5 img {
    width: 200px;
    left: 900px;
    top: 162px;
}
.main .bx .apparel .wn6 img {
    width: 170px;
    left: 118px;
    top: 300px;
}
.main .bx .apparel .wn7 img {
    width: 170px;
    left: 310px;
    top: 295px;
}
/*   暖冬衣服套餐 E */

/*   暖冬衣服图标 S */
.main .bx .app-icon {
    position: absolute;
    /*z-index: 2;*/
    width: 285px;
    height: 200px;
    top: 2515px;
    left: 661px;
    background: url("../img/winter_icon.png")no-repeat;
    background-size:100%;
}
/*   暖冬衣服图标 E */
/*     过度背景 S */
.main .bx .bg-3 {
    position: absolute;
    width: 1105px;
    height: 145px;
    top: 3091px;
    left: 251px;
    background: url("../img/mb4.jpg")no-repeat;
    background-size: 100%;
}
/*     过度背景 E */
/*     DOTA模块 S */
.main .bx .dota-bg {
    position: absolute;
    width: 1101px;
    height: 653px;
    top: 3235px;
    left: 247px;
    background: url("../img/dota_bg.jpg")no-repeat;
    background-size:100%;
}
.main .bx .dota-bg a img {
    position: absolute;
    left: 0px;
    top: 300px;
}
.main .bx .dota-bg .da1 img {
    width: 135px;
    left: 65px;
    top: 65px;
}
.main .bx .dota-bg .da2 img {
    width: 195px;
    left: 250px;
    top: 68px;
}
.main .bx .dota-bg .da3 img {
    width: 195px;
    left: 460px;
    top: 60px;
}
.main .bx .dota-bg .da4 img {
    width: 325px;
    left: 665px;
    top: 110px;
}
.main .bx .dota-bg .da5 img {
    width: 225px;
    left: 100px;
    top: 345px;
}
.main .bx .dota-bg .da6 img {
    width: 170px;
    left: 575px;
    top: 350px;
}
.main .bx .dota-bg .da7 img {
    width: 155px;
    left: 745px;
    top: 350px;
}
.main .bx .dota-bg .da8 img {
    width: 170px;
    left: 900px;
    top: 347px;
}
.main .bx .dota-bg .da9 img {
    width: 165px;
    left: 360px;
    top: 345px;
}
/*     DOTA模块 E */
/*     DOTA图标 S */
.main .bx .dota-icon {
    position: absolute;
    /*z-index: 2;*/
    width: 285px;
    height: 180px;
    top: 3180px;
    left: 661px;
    background: url("../img/dota_icon.png")no-repeat;
    background-size:100%;
}
/*     DOTA图标 E */
/*     尾部部分 S */
.main .bx .footer {
    position: absolute;
    width: 1102px;
    height: 112px;
    left: 247px;
    bottom: 0px;
    text-align: center;
    background-color: #000000;
}
.main .bx .footer p {
    margin-top: 10px;
}
.main .bx .footer img {
    position: absolute;
    top: 73px;
    left: 48px;
}
.main .bx .footer img+img {
    left: 130px;
    top: 73px;
}
/*     尾部部分 E */


/*.heads .bx ul .app {*/
    /*background: url("../img/nav_btns.jpg")no-repeat -758px 0;*/
/*}*/



.nav1 {
    position: fixed;
    z-index: 11;
    width: 189px;
    height: 412px;
    background:url("../img/float_bg.png")no-repeat;
    background-size:100%;
}
.nav1 img {
    margin-left: 5px;
    cursor: pointer;
    /*margin-top:8px;*/
}
.nav1 img+img {
    width: 165px;
    height: 49px;
}
.float {
    width: 165px;
    margin-top: 5px;
}
.nav1 .float1 {
    margin-top: 5px;
}
.nav1 .float2 {
    margin-top: 2px;
}
.nav1 .float3 {
    margin-top: 3px;
}
.nav1 .float4 {
    margin-top: 8px;
}




@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}