body{
    width: 100%;
    height: 100%;
    min-width: 1200px;
    background-color: #1a1b1f;
}

/***********顶部**************/
.top{
  height: 80px;
    background:url("../images/data2.home.nav.bg.png") ;
}
/*顶部版心*/
.top .bx{
    width:1200px;
    height: 80px;
    margin: 0 auto;
}
.logo{
    float: left;
    margin-top: 20px;
    margin-right: 50px;
}
.top-lb{
    float: left;
    width: 623px;
    height: 80px;
}
.top-lb .link{
    font-size: 20px;
    position: relative;
    float: left;
    text-align: center;
    width: 75px;
}
.top-lb .link .a0{
    display: inline-block;
    width: 75px;
    height: 80px;
    line-height: 80px;
}
.top-lb .link a:hover{
    background: url("../images/data2.home.nav.hover.bg.png");
}
.top-lb-div{
    display:none;
    z-index: 200;
    position: absolute;
    left: 0;
    width: 100%;
    height: 239px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    background:url("../images/data2.home.submenu.bg.png")
}
.top-lb-div a{
    display: inline-block;
    height: 20px;
    width: 100%;
}
.top-lb .link p{
    margin-top: -30px;
    font-size: 9px;
    line-height: 16px;
}
.login{
    float: right;
    width: 132px;
    height: 80px;
    padding-top: 25px;
    margin-right: 50px;
}
.login a{
    font-size: 15px;
    font-weight: bolder;
    color: #c2c3c5;
}
a:hover{
    color: deepskyblue;
}
.login .lg-sp{
    display: inline-block;
    color: #ccc;
    height: 39px;
    line-height: 35px;
    font-size: 14px;
    padding-left: 35px;
    background: url("../images/icons-1.png") no-repeat 0px -297px;
}
/**登录模块****/
.lgin{
    width: 560px;
    height: 450px;
    background-color: black;
    border:3px solid orangered;
    position: absolute;
    top: 140px;
    left: 422px;
    z-index: 400;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    color: #fffa90;
    display: none;
    /*display: block;*/
}
h4{
    display: block;
    height: 50px;
    width: 100%;
    color:  #fffa90;
}
.ipt{
    display: inline-block;
    width: 300px;
    height: 50px;
    margin: 10px auto;
}
.lg{
    display: inline-block;
    height: 35px;
    width: 60px;
    margin-bottom: 30px;
    background-color:  #fffa90;
    font-size: 15px;
}
.lgin a{
    display: inline-block;
    margin: 30px auto;
    color:  #fffa90;
}
/***********顶部结束**************/





/*************主体*************/
.content{
    width: 1200px;
    margin: 0 auto;
}
.bx-a{
    position: absolute;
    margin-top: 0px;
    display: inline-block;
    width: 1200px;
    height: 500px;
}
.bx-a img{
    width: 100%;
}
.ct{
    position: absolute;
    margin-top:250px;
    width: 1200px;
    height: 1500px;
    background-color: #1a1b1f;
}
.ct-left{
    float: left;
    width: 930px;
    height: 1289px;
    background-color: #f5f5f5;
}
.ct-left .ct-left-top{
    width: 930px;
    height: 70px;
    line-height: 70px;
    border-bottom:1px solid #ccc;
    text-align: center;
}
.ct-left-top ul{
    display: inline-block;
    float: left;
    font-size: 20px;
    padding-left: 30px;
}
.ct-left-top ul span{
    display: inline-block;
    width: 1px;
    height: 16px;
    line-height: inherit;
    margin-left: 35px;
    background-color: #959595;
}
.ct-left .ct-left-dw{
    width: 870px;
    height: 100%;
    background-color: #ededed;
    padding: 35px 30px 0px;
}

.ul-li{
    position: absolute;
    display: inline-block;
    float: left;
    width: 270px;
    height: 275px;
    border:1px solid #000;
    margin-bottom: 25px;
    margin-right: 18px;
}
/*******翻转********/
.bm{
    display: inline-block;
    position: absolute;
    z-index:200;
    float: left;
    width: 270px;
    height: 275px;
    border:1px solid #000;
    margin-bottom: 25px;
    display: none;
    border: 1px solid #000;
    font-size: 15px;
    background-color:rgba(50,50,50,0.5);
    text-align: center;
}
.bm0,.li1,.bm1,.li2,.bm2,.li3{
    top: 104px;
    /*left:30px;*/
}
.bm1,.li2,.bm4,.li5,.bm7,.li8,.bm10,.li11{
    /*top: 104px;*/
    left: 320px;
}
.bm2,.li3,.bm5,.li6,.bm8,.li9,.bm11,.li12{
    /*top: 104px;*/
    left: 610px;
}
.bm0,.li1,.bm3,.li4,.bm6,.li7,.bm9,.li10{
    /*top: 406px;*/
    left: 30px;
}
.bm3,.li4,.bm4,.li5,.bm5,.li6{
    top: 406px;
    /*left: 320px;*/
}
.bm5,.li6{
    /*top: 406px;*/
    /*left: 610px;*/
}
.bm6,.li7,.bm7,.li8,.bm8,.li9{
    top: 705px;
    /*left: 30px;*/
}
.bm7,.li8{
    /*top: 705px;*/
    /*left: 320px;*/
}
.bm8,.li9{
    /*top: 705px;*/
    /*left: 610px;*/
}
.bm9,.li10,.bm10,.li11,.bm11,.li12{
    top: 1008px;
    /*left: 30px;*/
}
.bm10,.li11{
    /*top: 1008px;*/
    /*left: 320px;*/
}
.bm11,.li12{
    /*top: 1008px;*/
    /*left: 610px;*/
}
.bm h3{
    font-size: 20px;
    /*text-align: center;*/
}
.bm a{
    display: inline-block;
    width: 200px;
    /*margin-top: 40px;*/
    /*margin-left: 30px;*/
    height: 50px;
    line-height: 50px;
    background-color: #15161a;
    color: #fff;
    font-size: 18px;
    /*text-align: center;*/
    border-radius: 1px;
}
.bm p{
    display: inline-block;
    /*text-align: center;*/
    height: 100px;
    width: 100%;
    font-size: 17px;
}
.bm span{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url("../images/icons.png") -14px -340px;
}

/******翻转结束********/

.li-top{
    width: 270px;
    height: 130px;
}
/********精灵图********/
b{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 25px;
    background-color: green;
    color:#fff;
    font-size: 15px;
    line-height: 25px;
}
.b1,.b2,.b3,.b4{
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 25px;
    background-color:rgba(225,225,225,.3);
    color:#fff;
    font-size: 15px;
    line-height: 25px;
    z-index: 200;
}
.b1,.b2,.b3,.b4{
    top: 0px;
    left: 0px;
}
.jlt0,.jlt1,.jlt2,.jlt3,.jlt4,.jlt5,.jlt6,.jlt7,.jlt8,.jlt9,.jlt10,.jlt11{
    display: inline-block;
    float: left;
    position: absolute;
    height: 33px;
    width: 35px;
    z-index: 300;
    top: 0px;
    left: 237px;
}
.jlt0{
    background: url("../images/icons_02.png") -2px -1px;
}
.jlt1{
    background: url("../images/icons_02.png") -3px -40px;
}
.jlt2{
    background: url("../images/icons_02.png") -2px -1px;
}
.jlt3{
    background: url("../images/icons_02.png") -2px -1px;
}
.jlt4{
    background: url("../images/icons_02.png") -2px -81px;
}
.jlt5{
    background: url("../images/icons_02.png") -3px -40px;
}
.jlt6{
    background: url("../images/icons_02.png") -2px -1px;
}
.jlt7{
    background: url("../images/icons_02.png") -3px -121px;
}
.jlt8{
    background: url("../images/icons_02.png") -3px -121px;
}.jlt9{
     background: url("../images/icons_02.png") -3px -121px;
 }
.jlt10{
    background: url("../images/icons_02.png") -2px -1px;
}
.jlt11{
    background: url("../images/icons_02.png") -2px -81px;
}
/**********静灵图结束***********/
h3{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}
.li-wen{
    font-size: 12px;
    font-weight: bold;
    padding: 0px 10px;
}
.lf-down{
    position: absolute;
    top: 1315px;
    left:350px ;
    text-align: center;
}
.dw-li{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    /*background-color: #ffffff;*/
    float: left;
    border:1px solid #959595;

}
.dw-li a{
    display: inline-block;
    width: 35px;
    height: 35px;
}
.dw-li+li{
    margin-left: 5px;
}
.ct-right{
    float: left;
    height: 500px;
    width: 240px;
    margin-left: 30px;
}
.r-top{
    width: 240px;
}
.r-top a{
    display: inline-block;
    width: 240px;
    height: 82px;
}
.r-top a+a{
    display: inline-block;
    width: 240px;
    height: 82px;
    margin-top: 8px;
}
.a1{
    margin-top: 0px;
    background: url("../images/icon-btns.png") -14px -8px;
}
.a1:hover{
    background: url("../images/icon-btns.png") -14px -112px;
}
.a2{
    background: url("../images/icon-btns.png") -14px -216px;
}
.a2:hover{
    background: url("../images/icon-btns.png") -14px -320px;
}
.a3{
    background: url("../images/icon-btns.png") -14px -424px;
}
.a3:hover{
    background: url("../images/icon-btns.png") -14px -527px;
}
.a4{
    background: url("../images/icon-btns.png") -14px -712px;
}
.a4:hover,.a5:hover,.a6:hover{
    border: 1px solid deepskyblue;
}
.a5{
    background: url("../images/icon-btns.png") -14px -807px;
}
.a6{
    background: url("../images/icon-btns.png") -14px -904px;
}
.r-down{
    width: 240px;
}
.r-down a{
    display: inline-block;
    width: 240px;
    height: 75px;
    margin-top: 5px;
    background-color: #C81623;
}


/*************主体结束*************/



/**************底部************/
.bottom{
    width: 100%;
    height: 120px;
    background-color: #000;
    color:rgb(149, 149, 149);
    font-family: "Microsoft YaHei";
    font-size: 12px;
    padding-top: 40px;
    position: absolute;
    top: 1820px;

}
.bottom .bx{
    width:1200px;
    height: 80px;
    margin: 0 auto;
}
.bottom .bx dl{
    width: 976px;
    height: 35px;
}
.bottom .bx dl dt{
    display: inline-block;
    float: left;
    margin-left: 100px;
    margin-bottom: 20px;
}
.bottom .bx dl dt a+a{
    margin-left: 30px;
}
.bottom .bx dl dd{
    display: inline-block;
    float: right;
}
.bottom .bx div{
    height: 30px;
    width: 613px;

    margin: auto;
}
.bottom .bx span{
    display:inline-block;
    color: #333;
    text-align: center;
}
/**************底部结束************/














